html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.main {
  padding: 3rem;
  max-width: 100%;
}

.transition-button {
  appearance: none;
  border: none;
  background-color: rgb(10, 94, 129);
  font-size: 1.5rem;
  color: white;
  padding: .5rem;
  border-radius: 1rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 1px solid transparent;
}

.transition-button:hover,
.transition-button:focus {
  background-color: white;
  color: rgb(10, 94, 129);
  border-color: rgb(10, 94, 129);
}

.transition-button:focus {
  outline: none;
}

.transition-button:active {
  box-shadow: #c1c1c1fa 0px 0px 1rem;
}